{{ include('client/base.html.twig') }}

{% block body %}

<center><b><h1>COMMANDE</h1></b></center>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCom ? commande.dateCom|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('commande_show', {'id': commande.id}) }}">voir</a>
                    <a class="btn btn-outline-info" href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('commande_new') }}">+ ajout</a>
{% endblock %}
