{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}CLIENT{% endblock %}</title>
        {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.min.css') }}" >
        {% endblock %}
    </head>
    <body>
        
    <h1><center>CLIENT</center></h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td  scope="row">{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <a type="button" class="btn btn-outline-info" href="{{ path('client_show', {'id': client.id}) }}">voir</a>
                    <a type="button" class="btn btn-outline-info" href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('client_new') }}">+ajout</a>
    
{% block body %}
{% endblock %}
    </body>

</html>
