{{ include('client/base.html.twig') }}

{% block body %}
    <center><b><h1>CATEGORIE</h1></b></center>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleCat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelleCat }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('categorie_show', {'id': categorie.id}) }}">voir</a>
                    <a class="btn btn-outline-info" href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('categorie_new') }}">+ ajout</a>
{% endblock %}
